.box {
    border: 2px solid #333;   
    margin: 15px;             
    padding: 10px;            
    font-family: Arial, sans-serif; 
}

.float-left {
    float: left;
    width: 45%;
}

.float-right {
    float: right;
    width: 45%;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

